{% extends "layout.html" %}


{% block main %}
  <form class="form-border" action = "/apps/calc/" method="POST">
    <div class="form-group">
      <label>Километраж маршрута:</label>
      <input type="number" class="form-control col-md-2 mx-auto" name="kilometers" min="1" max="9500" placeholder="0" required>
      <small class="form-text text-muted">Километраж напрямую влияет на себестоимость маршрута</small>
    </div>

    <br><br>
    <div class="form-group">
      <label>Выберите тип транспорта:</label>
      <select class="form-control col-md-3 mx-auto" name="vehicle-type" size="3" required>
        <option value="tent20">Тент 20т</option>
        <option value="tank20">Автоцистерна 20т</option>
        <option value="ref20">Рефрижератор 20т</option>
      </select>
      <small class="form-text text-muted">Тарифы на перевозку различными видами транспорта различаются.</small>
    </div>
    <br><br>

    <div class="form-group">
      <label>В какую сторону едем?</label>
      <br>
      <input type="radio" name="direction" value='1' checked> от Москвы <br>
      <input type="radio" name="direction" value='2'> к Москве <br>
      <input type="radio" name="direction" value='3'> по регионам <br>
      <input type="radio" name="direction" value='4'> по городу <br>
      <small class="form-text text-muted">Как правило, в Москву везти дешевле, чем из Москвы.</small>
    </div>

    <input type="checkbox" name="taxes" value="1" checked>
    <label for="taxes">Обязателен честный перевозчик, который платит налоги</label>
    <br>

    <input type="submit" class="btn btn-lg btn-secondary" value="Рассчитать ставку">
    <br>

    
    
  </form>
{% endblock %}