<!DOCTYPE html>
<!-- heavily based on Cover template from Bootstrap -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>dartungar's pages</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/bootstrap/cover.css">></head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% block header %}
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">dartungar</h3>
          <nav class="nav nav-masthead justify-content-center">
          	{% block menu %}
            <a class="nav-link" href="/">Главная</a>
            <a class="nav-link" href="/blog/">Блог</a>

            <!-- custom drowdown for apps -->
            <div class="btn-group">
              <a href="/apps/" class="btn nav-link" style="margin-left: 1rem;">Приложения</a>
              <!-- stitched split dropdown button to nav-link element -->
              <button type="button" class="btn nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 1px;">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="apps-dropdown-menu">
                 <a class="dropdown-item" href="/apps/calc/">Калькулятор тарифов на автоперевозку</a>
                 <a class="dropdown-item" href="/apps/seofy/">Генератор запросов для SEO</a>
               </div>
            </div>

            <a class="nav-link" href="/kotusenichki/">Котусенички</a>
            {% endblock %}

            <!-- warning with flashed messages -->
            {% if get_flashed_messages() %}
                <div class="alert alert-secondary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
            
          </nav>
        </div>
      </header>
    {% endblock %}


      {%block main %}
      {% endblock %}

      <footer class="mastfoot mt-auto">
        <div class="inner">
          Данила любит этот сайт
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- почему-то, если ставлю ссылку на веб, не работает выпадающее меню. надо смотреть актуальные ссылки -->
    <script src="/static/bootstrap/popper.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>

    <!-- script for copying to clipbodard from CodePen -->
    <script src="/static/dartungar-js.js"></script>
  

  </body>
</html>
